@import 'libs/functions';
@import 'libs/vars';

.chart {
  min-width: 100%;
}

.icon {
  &__behaviorism {
    color: _palette(accent2)
  }

  &__constructivism {
    color: _palette(accent3)
  }

  &__cognitivism {
    color: _palette(accent4)
  }

  &__connectivism {
    color: _palette(accent5)
  }

  &__andragogy {
    color: _palette(accent6)
  }
}